.content-left {
	width: 210px;
	float: left;
	padding: 15px 0 0 0;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			a {
				font: 14px Arial, sans-serif;
				color: #8a8888;
				padding: 5px 0 6px 11px;
				display: block;
				&:hover, &.active {
					color: #1f2273;
					text-decoration: none;
					border-top: 1px solid #1f2273;
					border-bottom: 1px solid #1f2273;
					padding: 4px 0 5px 11px;
				}
			}
		}
	}
}
.content-center {
	width: 500px;
	float: left;
	padding: 0 0 0 40px;
	.form-contacts {
		width: 100%;
    	overflow: hidden;
    	input:nth-child(odd) {
			float: left;
		}
		input:not(:last-child):nth-child(even), select {
    		float: right;
		}
		option:first-child {
    		display: none;
		}
		textarea {
			width: 460px;
			height: 100%;
			resize: none;
		}
	}
}
.contacts-call {
	margin: 4px 0 0 1px;
	padding: 44px 10px 0 0;
	overflow: hidden;
	p {
		color: #1f2273;
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		float: left;
		span {
			font: 22px/30px'MyriadProLightCondensed';
		}
	}
	button {
	float: right;
	margin: 0 15%;
	}
}
.mail {
	text-decoration: underline;
	color: #ce0000;
}
.mail-col {
	margin: 20px 0;
}