.content-left {
  width: 210px;
  float: left;
  padding: 15px 0 0 0;
}
.content-left ul {
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
}
.content-left ul li a {
  font: 14px Arial, sans-serif;
  color: #8a8888;
  padding: 5px 0 6px 11px;
  display: block;
}
.content-left ul li a:hover,
.content-left ul li a.active {
  color: #1f2273;
  text-decoration: none;
  border-top: 1px solid #1f2273;
  border-bottom: 1px solid #1f2273;
  padding: 4px 0 5px 11px;
}
.renewal-exam {
  text-align: center;
  margin: 20px 0 0;
}
.renewal-exam p {
  text-transform: uppercase;
  color: #77777d;
  font: 24px 'MyriadPro-Bold';
}
.renewal-exam a {
  display: block;
  width: 112px;
  text-decoration: none;
  font: 14px 'MyriadPro-Bold';
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 5px 0 0 45px;
  padding: 8px 0 6px 0px;
  background-image: -webkit-linear-gradient(bottom, #00c0ed, #99e9fd);
  background-image: -o-linear-gradient(bottom, #00c0ed, #99e9fd);
  background-image: linear-gradient(to top, #00c0ed, #99e9fd);
}
.content-center {
  width: 500px;
  float: left;
  padding: 0 0 0 40px;
}
.content-center > .form-contacts {
  width: 100%;
  overflow: hidden;
}
.content-center > .form-contacts input:nth-child(odd) {
  float: left;
}
.content-center > .form-contacts input:not(:last-child):nth-child(even),
.content-center > .form-contacts select {
  float: right;
}
.content-center > .form-contacts option:first-child {
  display: none;
}
.content-center > .form-contacts textarea {
  width: 460px;
  height: 100%;
  resize: none;
}
.contacts-call {
  margin: 4px 0 0 1px;
  padding: 44px 10px 0 0;
  overflow: hidden;
}
.contacts-call p {
  color: #1f2273;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  float: left;
}
.contacts-call p span {
  font: 22px/30px 'MyriadProLightCondensed';
}
.contacts-call button {
  float: right;
  margin: 0 15%;
}
.mail {
  text-decoration: underline;
  color: #ce0000;
}
.mail-col {
  margin: 20px 0;
}
.content-center h3 {
  font: 19px/21px Arial, sans-serif;
  margin: 0 0 16px 0;
  font-weight: bold;
}
.content-center p {
  margin: 0 0 18px 0;
}
.qei-faq .accordion {
  color: #3e3e3e;
}
.qei-faq .accordion > li {
  padding-bottom: 17px;
}
.qei-faq .accordion > li .opener {
  display: block;
  padding: 0 0 0 22px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-weight: bold;
  color: #3e3e3e;
}
.qei-faq .accordion > li .slide-content {
  margin: 17px 0 2px 0;
  padding: 19px 13px 17px 22px;
  list-style: none;
  background-color: #d2d3e3;
}
.qei-faq > .accordion > .active > .opener,
.qei-faq > .accordion > li:hover > .opener {
  background-image: url("../images/arrow-active.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.sidebar .accordion .active .opener,
.sidebar .accordion li:hover .opener {
  background-color: #1f2273;
  color: #52b9ea;
  text-shadow: #000000 0 -1px 1px;
  background-image: url("../images/arrow-active.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  text-decoration: none;
}
.sidebar {
  float: right;
  width: 210px;
}
.sidebar .accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .accordion li {
  margin-bottom: 1px;
}
.sidebar .accordion li .opener {
  font-size: 14px;
  display: block;
  padding: 10px 0 10px 10px;
  text-shadow: 0 -1px 1px #000000;
  background-image: url("../images/arrow.png"), -webkit-linear-gradient(left, #868686, #c6c6c6);
  background-image: url("../images/arrow.png"), -moz-linear-gradient(left, #868686, #c6c6c6);
  background-image: url("../images/arrow.png"), -o-linear-gradient(left, #868686, #c6c6c6);
  background-image: url("../images/arrow.png"), linear-gradient(to right, #868686, #c6c6c6);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.sidebar .accordion li .slide-content {
  padding: 0 0 19px 0;
  list-style: none;
  background-color: #ebebeb;
  box-shadow: 10px 2px 8px -10px #aaaaaa inset;
}
.sidebar .accordion li .slide-content li {
  padding: 9px 7px 9px 11px;
  font-size: 12px;
  line-height: 16px;
  color: #1f2273;
}
.sidebar .accordion li .slide-content li:not(:last-child) {
  border-bottom: 1px dotted #b0b0b0;
}
.sidebar .accordion li .slide-content li a {
  color: #000;
  text-decoration: underline;
  display: block;
}
.sidebar .accordion li .client-portfolio {
  padding: 0 0 19px 0;
  list-style: none;
  background-color: #ebebeb;
  box-shadow: 10px 2px 8px -10px #aaaaaa inset;
}
.sidebar .accordion li .client-portfolio li {
  font-size: 14px;
  color: #676565;
  border-bottom: none !important;
  padding: 35px 7px 0 10px;
}
.sidebar .accordion li .client-portfolio li:first-child {
  padding: 10px 7px 0 10px;
}
.sidebar .accordion li .client-portfolio li a {
  color: #676565;
  text-decoration: none;
}
.sidebar .accordion li .client-portfolio li a:hover {
  text-decoration: underline;
}
.form-QEICLASSES {
  width: 100%;
  overflow: hidden;
}
.form-QEICLASSES h2 {
  font: 14px/18px Arial, sans-serif;
  color: #8d9094;
  font-weight: bold;
  margin: 20px 0 10px 0;
  padding: 8px 9px 10px 9px;
  text-transform: uppercase;
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  background: -webkit-linear-gradient(rgba(72, 102, 128, 0.2), rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(rgba(72, 102, 128, 0.2), rgba(255, 255, 255, 0.2));
  background: linear-gradient(rgba(72, 102, 128, 0.2), rgba(255, 255, 255, 0.2));
}
.form-QEICLASSES span {
  padding: 0 0 15px 10px;
  display: block;
}
.form-QEICLASSES .small select:nth-child(2) {
  width: 65px !important;
  margin: 0 15px 6px 0;
}
.form-QEICLASSES .small select:nth-child(3) {
  width: 125px !important;
}
.form-QEICLASSES p {
  margin: 0;
}
.form-QEICLASSES a {
  font-size: 12px;
  margin: 7px 0 0 0;
  color: #cd0000;
}
.form-QEICLASSES label {
  color: #3e3e3e;
  text-align: right;
  width: 123px;
  float: left;
  font-size: 12px;
  padding: 7px 16px 0px 0;
}
.form-QEICLASSES .check {
  color: #3e3e3e;
  text-align: left;
  float: none;
}
.form-QEICLASSES .long {
  width: 265px;
}
.form-QEICLASSES .short {
  width: 85px;
  margin-right: 15px;
}
.form-QEICLASSES .required {
  background: url("../images/star.png") no-repeat 76% 40%;
}
.form-QEICLASSES .required-long {
  background: url("../images/star.png") no-repeat 88% 40%;
}
.form-QEICLASSES textarea {
  width: 460px;
  height: 100%;
  resize: none;
}
.form-QEICLASSES option:first-child {
  display: none;
}
.form-QEICLASSES .submit-class {
  width: 112px;
  font: 14px 'MyriadPro-Bold';
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 3px;
  margin: 10px 0 0;
  background-image: -webkit-linear-gradient(bottom, #00c0ed, #99e9fd);
  background-image: -o-linear-gradient(bottom, #00c0ed, #99e9fd);
  background-image: linear-gradient(to top, #00c0ed, #99e9fd);
  text-transform: uppercase;
  color: #fff;
  box-shadow: none;
}
table {
  border-collapse: collapse;
  display: block;
  font-size: 14px;
  line-height: 18px;
}
table td {
  padding: 10px;
}
.table-information {
  background-color: #d2d3e3;
  margin: 37px 0 37px 0;
}
.table-information td:first-child {
  font-weight: bold;
  vertical-align: top;
}
.table-information td:nth-child(2) {
  font-size: 12px;
}
.table-information a {
  text-align: center;
  color: #3e3e3e;
  font: 14px/18px 'MyriadPro-Bold', helvetica, sans-serif;
  background: url("../images/marker.png") no-repeat;
  display: block;
  padding: 28px 0 0 38px;
  height: 44px;
}
td[rowspan="9"] {
  padding: 0 20px 0 35px;
}
.table-fee tr:first-child td:nth-child(2),
.table-fee tr:nth-child(2) td:nth-child(2) {
  text-align: center;
}
.table-fee {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 460px;
}
.table-fee tr:first-child {
  border-bottom: 1px solid rgba(134, 134, 134, 0.14);
  color: #8d9094;
  text-transform: uppercase;
  background: -webkit-linear-gradient(top, rgba(72, 102, 128, 0.2), rgba(255, 255, 255, 0.2));
}
.table-fee tr:first-child td {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.table-fee tr:last-child {
  background-color: #1f2273;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
}
.table-fee tr:last-child td {
  padding: 8px 26px 8px 0;
}
.table-fee tr td:first-child {
  width: 135px;
}
.table-fee tr td:nth-child(2) {
  width: 240px;
}
.table-fee tr td:nth-child(3) {
  width: 85px;
}
input[type="checkbox"] {
  background: url(../images/checkbox.png);
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  cursor: pointer;
  color: #275d77;
  margin-right: 5px;
  vertical-align: middle;
  border: none;
  border-radius: 0;
}
input[type="checkbox"]:checked {
  background-position: -14px 0;
  border: none;
  border-radius: 0;
}
